# Files that are going to be encrypted
debug.keystore filter=git-crypt diff=git-crypt
release.keystore filter=git-crypt diff=git-crypt
secret.properties filter=git-crypt diff=git-crypt
google-oauth-credentials filter=git-crypt diff=git-crypt
# Making sure that .gitattributes is never encrypted. DON'T TOUCH THAT LINE AND ONE BELOW
.gitattributes !filter !diff